.town {
  width: 100%;
  border: 2px solid orangered;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.current {
  width: 48%;
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgb(105, 243, 105);
  font-size: 14px;
  overflow: hidden;
}

.search {
  width: 48%;
  border: 2px solid orangered;
  background-color: rgb(247, 130, 88);
  border-radius: 5px;
  font-size: 14px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.current:hover,
.search:hover {
  background-color: white;
  transition: all 200ms ease-in-out;
}
