.ProposedCity h6 {
  text-align: right;
  font-weight: 600;
  line-height: 28px;
  color: rgb(131, 179, 233);
}

.ProposedCity h6:hover {
  color: rgb(6, 121, 253);
  font-size: larger;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.ProposedCity {
  margin-top: 20px;
}